/*Fuentes*/

@font-face {
    font-family: fuente3;
    src: url(fonts/fuente3.ttf);
}

@font-face {
    font-family: fuente4;
    src: url(fonts/fuente4.ttf);
}

/* Paleta de colores*/
$color1:#A84144;
$color2: white;
$color3: black;
$color4: grey;

.fondo1 {
    background-color: $color4;
    opacity: 0.9;
    padding: 30px;
    margin: 10px;
}

.fondo2 {
    background-color: $color1;
    opacity: 0.9;
    padding: 30px;
}

/*titulos*/
.t1 {
    color: $color1;
    font-style: italic;
    font-family: fuente4, serif;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    font-style: bolder;
}

.t2 {
    color: $color2;
    font-family: fuente4, serif;
    font-size: 25px;
    text-align: justify;
    text-indent: 8px;
    font-style: bolder;
}

.t3 {
    color: $color2;
    font-family: fuente4, serif;
    font-size: 35px;
    text-align: center;
    font-style: bolder;
}

.tf {
    color: $color1;
    font-family: fuente4, serif;
    font-size: 20px;
    text-align: center;
    font-style: bolder;

}

.tm {
    color: $color1;
    font-size: 20px;
    font-family: fuente4;
    font-style: bolder;
}

.tp{
    color: $color2;
    font-size: 23px;
    font-family: fuente4;
    font-style: italic;
    font-style: bolder;
}

/*parrafos*/
.p1 {
    font-family: fuente3, serif;
    color: $color2;
    font-size: 20px;
    text-align: justify;
}

.p2 {
    font-family: fuente3, serif;
    color: $color2;
    font-size: 20px;
    text-align: justify;
}

.p3 {
    font-family: fuente4, serif;
    color: $color2;
    font-size: 20px;
    text-align: center;
    font-style: italic;
}


/*iconos*/

.icono1 {
    padding: 5px;
    height: 30px;
    width: 30px;
}

.icono2 {
    height: 70px;
    width: 70px;
    border-radius: 40px;

}

/*link*/

.link1 {
    color: $color1;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    font-family: fuente1, serif;
    text-transform: uppercase;
}

.link2 {
    color: $color2;
    text-decoration: none;
    text-align: justify;
    font-size: 20px;
    font-family: fuente3, serif;
}


/*efectos*/

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.link1:hover {
    text-decoration: none;
    color: $color2;
}

.tm:hover {
    text-decoration: none;
    color: $color1;
    font-size: 24px;
}

.link2:hover {
    text-decoration: none;
    color: $color2;
    font-size: 30px;
}

.link:hover {
    opacity: 0.4;


}

/*imagenes*/
.img1 {

    height: 100%;
    width: 100%;
}

.img2 {

    height: 100%;
    width: 100%;
    border-radius: 10px;
}

/*barra de navegacion*/



#barra {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;


    .nav {
        margin-top: 15px;
    }
}

/*body index*/
#nosotros {
    display: flex;
    background-image: url(img/nosotros1.jpg);
    padding: 20px;
    width: 100%;
    height: 600px;

    #historia {
        width: 50%;
        height: 80%;
        border-radius: 10px;
    }
}

#producto {
    display: flex;
    flex-wrap: wrap;
    background-image: url(img/img22.jpg);
    height: 700px;
    padding: 20px;
    justify-content: center;

    .descripcion {
        width: 100%;
        border-radius: 10px;
    }

    .producto {
        margin-top: 20px;
        width: 23.3%;
        border-radius: 10px;
    }

}

#pedir {
    background-image: url(img/img18.jpg);
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;

    .pregunta {
        width: 100%;
    }

    #pasos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;

        .paso {
            width: 30%;
            margin: 10px;
            justify-content: center;
            border-radius: 20px;

            .card-img {
                height: 100%;
            }
        }
    }
}

/*body productos*/
#menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;


    #bienvenida {
        width: 100%;
    }

    .ingredientes {
        width: 50%;
        margin: 5px;
        border-radius: 10px;
        padding-top: 50px;
        height: 550px;
    }

    #ingrediente__img {
        width: 48%;
        margin: 5px;
        height: 550px;
    }

}

/*body recomendaciones*/

#recomendaciones {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    height: 100%;
    justify-content: center;

    .imagen {
        width: 50%;
    }

    .recomendacion {
        padding-top: 100px;
        width: 50%;

    }
}

/*body formulario*/

#formulario {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 65%;
    margin-left: 250px;
    color: $color3;
    font-weight: bolder;
    font-family: fuente3;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    border: solid 3px $color1;
    border-radius: 10px;
    margin-bottom: 30px;
    background-image: url(img/img10.jpg);
    opacity: 0.7;

    #datos {
        width: 100%;
        text-align: center;
        margin: 10px;

        .pregunta {
            width: 10%;
            text-align: justify;
        }

        .respuesta {
            border: solid 2px $color1;
            width: 22%;
            border-radius: 5px;
            text-align: center;
        }
    }


#bandeja {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    padding: 10px;

    .bandeja { width: 65%;

    }

    .seleccion {
        width: 100%;
    }
}

.pago {
    margin: 10px;
    width: 100%;

}

#direccion {
    margin: 10px;
    width: 100%;

    .dato {
        width: 10%;
        text-align: justify;
       
    }

    .descripcion {
        border: solid 2px $color1;
        width: 22%;
        border-radius: 5px;
        text-align: center;
    }
}

#mensaje {
    width: 100%;
}


#submit {
    background-color: $color1;
    font-family: fuente3;
    color: $color2;
    height: 35px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
}


/*footer*/
#footer {
    display: flex;
    flex-wrap: nowrap;

    .elemento {
        margin-left: 10%;
        margin-right: 10%;
    }
}

#faq {
    display: flex;
    flex-wrap: wrap;

    #dudas {
        width: 100%;
        padding: 20px;
    }

    .acordeon {
        width: 50%;

        input {
            display: none;
        }

        .pregunta {
            display: block;
            height: 70px;
            background-color: $color4;
            opacity: 0.7;
            padding: 15px;
            cursor: pointer;
            border-radius: 15px;

        }

        .respuesta {
            height: 0;
            background-color: $color2;
            opacity: 0.7;
            color: $color1;
            font-family: fuente4, serif;
            font-size: 20px;
            text-indent: 50px;
            overflow: hidden;
            margin: 0;
        }

        input:checked~.respuesta {
            height: auto;
        }
    }

    .imagen {
        width: 48%;
        margin-left: 20px;
        padding-bottom: 20px;
    }
}

/* media query*/

@media (min-width: 320px) and (max-width: 667px) {

    #barra {
        display: none;
    }


    #nosotros {
        display: flex;
        background-image: url(img/nosotros1.jpg);
        height: 100%;
        padding: 20px;

        #historia {

            width: 100%;
            height: 100%;
        }
    }

    #producto {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        padding: 5px;

        .descripcion {
            width: 100%;
        }

        .producto {
            width: 100%;
        }
    }

    #pedir {
        width: 100%;
        height: auto;

        #pasos {
            display: flex;
            flex-wrap: wrap;

            .paso {
                width: 100%;
            }
        }

        .card-img {
            display: none;
        }
    }

    #recomendaciones {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 5px;
        height: 100%;
        justify-content: center;

        .imagen {
            width: 100%;
            height: 400px;
        }

        .recomendacion {
            padding-top: 50px;
            width: 100%;

        }
    }

    #menu {
        display: flex;
        flex-wrap: wrap;
        width: 100%;


        #bienvenida {
            width: 100%;
        }

        .ingredientes {
            width: 100%;
            margin: 5px;
            border-radius: 10px;
            padding-top: 50px;
            height: 550px;
        }

        #ingrediente__img {
            width: 100%;
            height: 500px;

        }

    }

    #footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #formulario {
        display: flex;
        flex-wrap: wrap;
        height: 80%;
        width: 90%;
        margin-left: 25px;
        color: $color3;
        font-weight: bolder;
        font-family: fuente3;
        font-size: 20px;
        justify-content: center;
        text-align: center;
        border: solid 3px $color1;
        border-radius: 10px;
        margin-bottom: 30px;
        background-image: url(img/img10.jpg);
        opacity: 0.7;
    
        #datos {
            .pregunta {
                width: 100%;
                text-align: center;
            }
    
            .respuesta {
                width: 60%;
            }
        }
    
   
    #bandeja {
    
        .bandeja { width: 10%;
    
        }
    
        .seleccion {
            width: 90%;
        }
    }
        
    #direccion {
        margin: 10px;
        width: 100%;
    
        .dato {
            width: 100%;
            text-align: center;
           
        }
    
        .descripcion {

            width: 80%;
            border-radius: 5px;
            text-align: center;
        }
    }
    
    #mensaje {
      display: none;
    }
    
    
    #submit {
        background-color: $color1;
        font-family: fuente3;
        color: $color2;
        height: 35px;
        border: none;
        margin-top: 20px;
        cursor: pointer;
    }
    }
    

    /*Responsive FaQ*/
    #faq {
        display: flex;
        flex-wrap: wrap;

        .acordeon {
            width: 100%;

            input {
                display: none;
            }

            .pregunta {
                display: block;
                background-color: $color4;
                opacity: 0.7;
                padding: 10px;
                cursor: pointer;
            }

            .respuesta {
                height: 0;
                background-color: $color2;
                opacity: 0.7;
                color: $color1;
                font-family: fuente4, serif;
                font-size: 15px;
                overflow: hidden;
                margin: 0;
                transition: all o.5s;
                text-align: justify;
            }

            input:checked~.respuesta {
                height: auto;

            }
        }

        .imagen {
            width: 100%;
        }
    }
}

@media (min-width: 668px) and (max-width: 1024px) {

    #barra {
        display: none;
    }


    #nosotros {
        display: flex;
        background-image: url(img/nosotros1.jpg);
        height: 100%;
        padding: 20px;

        #historia {

            width: 100%;
            height: 100%;
        }
    }


    #producto {
        display: flex;
        flex-wrap: wrap;
        height: auto;

        .descripcion {
            width: 100%;
            border-radius: 10px;
        }

        .producto {
            margin-top: 10px;
            width: 34%;
            border-radius: 10px;
        }

    }

    #pedir {
        width: 100%;
        height: auto;


        #pasos {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .paso {
                width: 30%;
                margin: 10px;
                justify-content: center;

                .card-img {
                    height: 100%;
                }
            }
        }
    }



    #recomendaciones {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 5px;
        height: 100%;
        justify-content: center;

        .imagen {
            width: 100%;
            height: 400px;
        }

        .recomendacion {
            padding-top: 50px;
            width: 100%;

        }
    }

    #menu {
        display: flex;
        flex-wrap: wrap;
        width: 100%;


        #bienvenida {
            width: 100%;
        }

        .ingredientes {
            width: 100%;
            margin: 5px;
            border-radius: 10px;
            padding-top: 50px;
            height: 550px;
        }

        #ingrediente__img {
            width: 100%;
            height: 500px;

        }

    }

    #formulario {
        display: flex;
        flex-wrap: wrap;
        height: 80%;
        width: 90%;
        margin-left: 25px;
        color: $color3;
        font-weight: bolder;
        font-family: fuente3;
        font-size: 20px;
        justify-content: center;
        text-align: center;
        border: solid 3px $color1;
        border-radius: 10px;
        margin-bottom: 30px;
        background-image: url(img/img10.jpg);
        opacity: 0.7;
    
        #datos {
            .pregunta {
                width: 100%;
                text-align: center;
            }
    
            .respuesta {
                width: 60%;
            }
        }
    
    
    #bandeja {
    
        .bandeja { width: 10%;
    
        }
    
        .seleccion {
            width: 90%;
        }
    }
        
    #direccion {
        margin: 10px;
        width: 100%;
    
        .dato {
            width: 100%;
            text-align: center;
           
        }
    
        .descripcion {

            width: 80%;
            border-radius: 5px;
            text-align: center;
        }
    }
    
    #mensaje {
      width: 100%;
    }
    }

    #footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /*Responsive FaQ*/
    #faq {
        display: flex;
        flex-wrap: wrap;

        .acordeon {
            width: 100%;

            input {
                display: none;
            }

            .pregunta {
                display: block;
                background-color: $color4;
                opacity: 0.7;
                padding: 10px;
                cursor: pointer;
            }

            .respuesta {
                height: 0;
                background-color: $color2;
                opacity: 0.7;
                text-indent: 10px;
                color: $color1;
                font-family: fuente4, serif;
                font-size: 20px;
                overflow: hidden;
                margin: 0;
                transition: all o.5s;
                text-align: justify;
            }

            input:checked~.respuesta {
                height: auto;

            }
        }

        .imagen {
            width: 100%;
        }
    }
}


@media (min-width: 1025px) {

    #barra2 {
        display: none;
    }
}