/*Fuentes*/

@font-face {
    font-family: fuente3;
    src: url(fonts/fuente3.ttf);
}

@font-face {
    font-family: fuente4;
    src: url(fonts/fuente4.ttf);
}

/* Paleta de colores*/
$color1:#A84144;
$color2: white;
$color3: black;
$color4: grey;

.fondo1 {
    background-color: $color4;
    opacity: 0.9;
    padding: 30px;
    margin: 10px;
}

.fondo2 {
    background-color: $color1;
    opacity: 0.9;
    padding: 30px;
}

/*titulos*/
.t1 {
    color: $color1;
    font-style: italic;
    font-family: fuente4, serif;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    font-style: bolder;
}

.t2 {
    color: $color2;
    font-family: fuente4, serif;
    font-size: 40px;
    text-align: center;
    font-style: bolder;
}

.tf {
    color: $color1;
    font-family: fuente4, serif;
    font-size: 20px;
    text-align: center;
    font-style: bolder;

}

/*parrafos*/
.p1 {
    font-family: fuente3, serif;
    color: $color2;
    font-size: 20px;
    text-align: justify;
}

.p2 {
    font-family: fuente3, serif;
    color: $color2;
    font-size: 20px;
    text-align: justify;
}

.p3 {
    font-family: fuente4, serif;
    color: $color2;
    font-size: 20px;
    text-align: center;
    font-style: italic;;
}

/*iconos*/

.icono1 {
    padding: 5px;
    height: 30px;
    width: 30px;
}

.icono2 {
    height: 70px;
    width: 70px;
    border-radius: 40px;
}

/*link*/

.link1 {
    color: $color1;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-family: fuente1;
}

.link2 {
    color: $color2;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-family: fuente1;
}


/*efectos*/

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.link1:hover {
    text-decoration: none;
    color: $color2;
}

.tm:hover {
    text-decoration: none;
    color: $color1;
    font-size: 25px;
}

.link2:hover {
    text-decoration: none;
    color: $color2;
    font-size: 30px;
}

/*imagenes*/
.img1 {

    height:100%;
    width: 100%;
}

/*barra de navegacion*/

.tm {
    color: $color1;
    font-size: 20px;
    font-family: fuente4;
    font-style: bolder;
}

#barra {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;


    .nav {
        margin-top: 15px;
    }
}

/*body index*/
#nosotros {
    display: flex;
    background-image: url(img/nosotros1.jpg);
    padding: 20px;
    width: 100%;
    height: 600px;

    #historia {
        width: 50%;
        height: 80%;
    }
}

#producto {
    display: flex;
    flex-wrap: wrap;
    background-image: url(img/img22.jpg);
    height: 700px;
    padding: 20px;
    justify-content: center;

    .descripcion {
        width: 100%;
    }

    .producto {
        width: 23%;
    }

}

#pedir {
    background-image: url(img/img18.jpg);
    width: 100%;
    height: 500px;

    #pasos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;

        .paso {
            width: 30%;
            margin: 10px;
            padding: 5px;
            justify-content: center;

            .card-img {
                height: 100%;
            }
        }
    }
}

/*body productos*/
#carta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    .carta {
        width: 40%;
        height: 450px;
        margin: 20px;
    }

    .card-img {
        height: 100%;
    }
}

/*body recomendaciones*/

#recomendaciones {
        display: flex;
        flex-wrap: wrap;
        padding-bottom:20px ;
        height: 100%;
        justify-content: center;
    
        .imagen {
            width: 50%;
        }
    
        .recomendacion {
            padding-top: 100px;
            width: 50%;

        }
}

/*body formulario*/

#formulario {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    height: auto;
    width: 65%;
    color: $color4;
    font-weight: bolder;
    font-family: fuente3;
    font-size: 20px;
    text-align: center;
    border: solid 3px $color1;
    padding: 5px;
    margin-bottom: 30px;
    background-image: url(img/img22.jpg);
    opacity: 0.7;

    #submit {
        background-color: $color1;
        font-family: fuente3;
        color: $color2;
        height: 35px;
        border: none;
        margin-top: 20px;
        cursor: pointer;
    }
}


/*footer*/
#footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* media query*/

@media (min-width: 320px) and (max-width: 767px) {

    #barra {
        display: none;
    }


    #nosotros {
        display: flex;
        background-image: url(img/nosotros1.jpg);
        height: 100%;
        padding: 20px;

        #historia {

            width: 100%;
            height: 100%;
        }
    }


    #producto {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        padding: 5px;

        .descripcion {
            width: 100%;
        }

        .producto {
            width: 100%;
        }
    }

    #pedir {
        width: 100%;
        height: auto;

        #pasos {
            display: flex;
            flex-wrap: wrap;

            .paso {
                width: 100%;
            }
        }

        .card-img {
            display: none;
        }
    }

    #footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    #carta {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        .carta {
            width: auto;
            height: auto;
            margin: 20px;
        }

        .card-img {
            height: auto;
        }
    }

    #formulario {

        display: flex;
        flex-wrap: nowrap;

        #mensaje {
            display: none;
        }
    }
}

@media (min-width: 767px) and (max-width: 1024px) {

    #barra1 {
        display: none;
    }


    #nosotros {
        display: flex;
        height: 100%;
        padding: 20px;
    }


    #producto {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        padding: 5px;

        .descripcion {
            width: 100%;
        }

        .producto {
            width: 45%;
        }
    }

    #pedir {
        width: 100%;
        height: auto;

        #pasos {
            display: flex;
            flex-wrap: wrap;

            .paso {
                width: 100%;
            }
        }

        .card-img {
            height: 200px;
            width: 200px;
            justify-self: center;
        }
    }



    #footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}


@media (min-width: 1024px) {

    #barra2 {
        display: none;
    }
}